html(ng-app="myApp")
head
    
body
        title=MyBlog
        link(rel= 'stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') 
        #leabel-head(style='top: 5% solid #add; margin-bottom: auto; z-index:1 ;padding: 2%; background: #aaf')
            h1 MobiLab@uta MEAN Stack Hackathon.
            p NodeJS with ExpressJS middleware and AngularJS frontend wth MongoDB.
            p Challenges- 
            h5 Phase 2:  a : Hosting on cloud with Database connection. | 2.b One Hundred Database Calls per 0.5 secs Interval. | 2.c Pipeline Deployment from GitHub. {** Extra points for some Angular Animation **}
            p 
            h5 Phase-1 : a : Make a Asynchronous call to fetch complex and large JSON parse Module. | 1.b Use Data processing and presenting middlewares to show graphical Charts and graphs and etc. 1.c : Use a Map API to show parsed data from the JSON  
            
        #container(style='padding: 2%; margin:10%;')
            
            div(ng-controller="myCtrl4")
                h2(style="color:#000") Phase 2:
                br
                br
                h3(style="color:#ada") If you Click, Database call is made after evry 0.5 Seconds.
                 h5(style="color:#ada") DISCLAIMER: You may want to check the box below.(BEFORE CLICKING).
                button(ng-click="callWidTimOut()").btn.btn-primary.button-sign-in
                    | Start Calling
                    .clearfix
                h3(style="color:#ada") And once the Count reaches 20, it will ONLY show LATEST 20 FETCHED RECORDS.    
                div(style="padding:2%")
                    div(class="slide" ng-repeat="emp in emps track by $index" style="position: relative;" )
                        div(ng-hide="show[{{$index}}]" style="background:#ddd;border-bottom:3px solid #fff;word-wrap:break-word; top:0px;position: relative;")
                            h7 
                                strong [{{$index}}] :
                                strong Name: 
                                h7 {{emp.Name}}
                            h7  
                                strong Employee Number: 
                                h7 {{emp.empno}} 
                                strong | 
                                strong Region: 
                                h7 {{emp.region}} 
                                strong | Weekly Average: 
                                h7 {{emp.avg}}
             
              
                div(class="info1" style="border:1px solid #aaa" )
                    h5(style="color:#ada") This will always show what data is Currently fethced from DB Server (Mongo Lab on Heroku cloud).
                    input(type="checkbox" ng-model="showRaw")
                    lable Check this to Show DATA recevied from Server {Show or Hide}.
                
                
                    div(class="show-data" ng-show="showRaw" style="background:#ddd;border-bottom:8px solid                  #dda;padding:5px;word-wrap:break-word;")
                        p(style="overflow: auto;")    
                            h4 {{empd}} 
                            h4 {{premsg}}
                        
                br
                br
                
                
                h3(style="color:#ada") Here is the JSON data used to Populate the DATABASE (Employees)
                button(ng-click="callServer()" ).btn.btn-primary.button-sign-in
                    | JSON data
                    .clearfix
                    
                br
                br
                div(style="padding:2%" ng-show="details")
                    div(ng-repeat=" e in empd")
                        div(style="background:#ddd;padding:2%;border-bottom:3px solid #fff;word-wrap:break-word;")
                            {{e}}
                br
                br 
                div
                    span 
                input(type="text" ng-model="emp1") 
                br
                br
                button(ng-click="callDbCreate(emp1)").btn.btn-primary(style="height:20px ; width:80px;color:#aaf")
                |CreateOne :Make sure data above is in JSON Format. 
                .clearfix
                br
                button(ng-click="callDbfindButton(emp1)").btn.btn-primary(style="height:20px ; width:80px;color:#aaf")
                |FindOne :Enter Employee Number(Numbers 1 -to- 100 only). 
                .clearfix
                
                br
                div(class="show-data" ng-show="showRaw1" style="background:#ddd;border-bottom:8px solid                  #dda;padding:5px;word-wrap:break-word;")
                        p(style="overflow: auto;")    
                            h4 {{premsg2}}
                br
                br
                br
                
                
                
            div(ng-controller="myCtrl1")
                h1(style="color:#000") Phase 1: 
                p These Sections takes care Challenges in Phase 1. 
                h4 Asynchronous Call to Server, Parsing a huge JSON. 
                button(ng-click="callServer()" ).btn.btn-primary.button-sign-in
                    | Http.Get(x)
                    .clearfix
                br
                br
                input(type="checkbox" ng-model="showRaw")
                lable Check this to Show raw JSON recevied from Server {Show or Hide}.
                               
                div(class="show-data" ng-show="showRaw" style="background:#ddd;border-bottom:8px solid #dda;padding:5px")
                    p(style="overflow: auto;")    
                        h4 {{ujson}} 
                        h4 {{preMsg}}  
                
                br
                br
                div(style="background:#ffa;border-bottom:8px solid #dda;padding:2%" ng-show="details")
                    div(ng-model="ujson")
                        div(style="border-bottom:3px solid #ddd")
                            h5 This JSON File is About: {{ujson.about}}
                        div(style="border-bottom:3px solid #ddd" )
                            h5 The user with ID: {{ujson.comments[0].id}} , Commented that: " {{ujson.comments[0].text}} "  on {{ujson.comments[0].createdAt | date:"MM/dd/yyyy 'at' h:mma"}}
                        div(style="border-bottom:3px solid #ddd" )
                            img(style='width:15%;height:23%;align:center; border:4px solid #aaa;background:#ccd' src="{{ujson.linked.medias[0].url}}")
                            h5 The User ID:{{ujson.comments[0].id}} , Commented on this Profile of user {{ujson.linked.users[0].firstName}} {{ujson.linked.users[0].lastName}} with ID: {{ujson.linked.users[0].id}} 
                            h5 This user is {{active}}, with last login on {{ujson.linked.users[0].lastLogin | date:"MM/dd/yyyy 'at' h:mma"}} 
                              
                        
                        
                        
            div(ng-controller="myCtrl2")
                h3(style="color:#888") An Example of Complex JSON with Charts and Maps
                button(ng-click="callServer()" ).btn.btn-primary.button-sign-in
                    | Extra Credit!
                    .clearfix
                br
                br
                input(type="checkbox" ng-model="showRaw")
                lable Check this to Show raw JSON recevied from Server {Show or Hide}.
                               
                div(class="show-data" ng-show="showRaw" style="background:#ddd;border-bottom:8px solid #dda;padding:5px")
                    div(style="word-wrap:break-word;")    
                        h4 {{longj}} 
                        h4 {{preMsg}}  
                
                br
                br
                div(style="padding:2%" ng-show="details")
                    div(ng-repeat=" e in longj")
                        div(style="background:#ddd;padding:2%;border-bottom:3px solid #fff; float:left; width:50%")
                            h4(align="center" style="border-bottom: 8px solid #888") {{e.name}}
                            h5 ID: {{e._id}}
                            h5 Start Date: {{e.registered | date:"medium"}}
                            h5 Salary {{e.balance|currency}}
                            h5 E-mail: {{e.email}}
                            h5 Phone: {{e.phone}}
                            h5 Adress: {{e.address}}
                            h5 Age: {{e.age}}
                            h5 Gender: {{e.gender}} 
                    br(style="clear:left")
                    br
                    br
                    h4 Following are the Office Locations of Employees Above.
                    ui-gmap-google-map( center='map.center' zoom='map.zoom')
                        span(ng-repeat="x in longj")
                            ui-gmap-marker(idKey="0" coords="x.coords" options="x.name")
                    br
                    br
                    br
                    h4 Following are the Stats for Total profit at each Office Locations Above.
                    div(style="background:#ddd;border: 4px solid #ccc padding:10%" )
                        canvas(id="pie" class="chart chart-pie" chart-data="data1" chart-labels="labels" chart-options="options")
                            
                    
            
                    
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    
                                
            
        #credits(style='bottom: 5% solid #add;margin-top: 5% ;z-index: 1; padding: 2%; background: #aaf')
            a(href='/') MobiLab@UTA MEAN stack Hackathon
            p NodeJS with ExpressJS middleware and AngularJS app frontend wth MongoDB.
            a(href='/index') Log in 
                h6 (Just for practice)    
            
        style.
            div.angular-google-map-container{ height: 400px; }
        style.
            div.card{transition: all linear 0.5s;}
        style.
            ng-hide {
                        height: 0;
                        width: 0;
                        background-color: transparent;
                        top:-200px;
                        left: 200px;
                        }
        
       
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
        script(src="https://code.angularjs.org/1.4.8/angular-resource.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js")
        
        script(src="./js/chart.js/dist/Chart.min.js")
        script(src="./js/angular-chart.js/dist/angular-chart.min.js")
                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
        script(src="http://rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.js")
        script(src="http://rawgit.com/angular-ui/angular-google-maps/2.2.1/dist/angular-google-maps.js?")
        
        script(src="./js/app.js")
        